<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gangplank_initiative.name %>
</p>

<%= link_to 'Edit', edit_gangplank_initiative_path(@gangplank_initiative) %> |
<%= link_to 'Back', gangplank_initiatives_path %>
