<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @promo_channel.name %>
</p>

<%= link_to 'Edit', edit_promo_channel_path(@promo_channel) %> |
<%= link_to 'Back', promo_channels_path %>
